.inputContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}
.input {
  color: var(--blue);
  border: none;
  border-bottom: 2px solid var(--blue);

  padding: 10px 25px;
  background: transparent;
  max-width: 200px;
  margin-bottom: 1rem;
  margin-top: 1rem;
}
