.card {
  width: 100%;
  max-width: 290px;
  height: 75px;
  background: var(--blue);
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s ease-in-out;
  padding: 0.5rem;
}

.card:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.textBox {
  color: white;
  font-family: "Poppins" sans-serif;
}

.textContent {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.h1 {
  font-size: 16px;
  font-weight: bold;
  margin: 0px;
}

.actionsContainer {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 5px;
  gap: 0.5rem;
}

.btnCard {
  color: white;
  text-decoration: none;
  font-size: 16px;
  border: none;
  background: none;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: var(--yellow);
}

.btnCard::before {
  margin-left: auto;
}

.btnCard::after,
.btnCard::before {
  content: "";
  width: 0%;
  height: 2px;
  background: var(--yellow);
  display: block;
  transition: 0.5s;
}

.btnCard:hover::after,
.btnCard:hover::before {
  width: 100%;
}
