.navContainer {
  display: flex;
  background-color: var(--blue);
  height: 75px;
  align-items: center;
  justify-content: space-around;
  font-family: var(--font-champion);
}

.navText {
  margin: 0;
  color: var(--yellow);
  font-size: 20px;
  font-weight: 700;
  text-decoration: none;
}

.navText::before {
  margin-left: auto;
}

.navText::after,
.navText::before {
  content: "";
  width: 0%;
  height: 2px;
  background: var(--yellow);
  display: block;
  transition: 0.5s;
}

.navText:hover::after,
.navText:hover::before {
  width: 100%;
}
